# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Instrumented libs
lib-cov

# Coverage
coverage/
*.lcov
.nyc_output

# Dependency dirs
node_modules/
bower_components/
jspm_packages/
web_modules/

# Electron build output
dist/
out/
*.exe

# Build addons
build/Release

# Vite/Vue/Parcel/etc cache
.cache/
.parcel-cache
.temp/

# Media (nếu không muốn track)
assets/songs/
assets/covers/
*.mp3
*.jpg
*.png

# VSCode
.vscode/

# Dotenv
.env
.env.*.local

# Yarn/NPM garbage
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
.yarn-integrity
.npm
*.tgz

# Misc
.node_repl_history
.lock-wscript
.eslintcache
.stylelintcache

# Serverless stuff
.serverless/
.docusaurus/
.tern-port/
.dynamodb/
.vscode-test/

# Ignore your own OS crap
.DS_Store
Thumbs.db
